/* _________________________common css start Here____________________________ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 0.8;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

/* _________________________common css End Here____________________________ */
/* _________________________Navbar css start Here____________________________ */
nav {
    padding-top: 60px;
}

.nav-logo a {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #3A3A3A;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;
}

.menu ul li {
    margin-right: 30px;
}

.menu ul li:last-child {
    margin-right: 0px;
}

.menu ul li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
}

.menu ul li a i {
    font-size: 24px;
}

/* _________________________Navbar css End Here____________________________ */

/* _________________________Banner css start Here____________________________ */
#banner {
    margin-top: 50px;
}

.banner-wrapper {
    display: flex;
    justify-content: space-between;
}

.banner-contain h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    color: #3A3A3A;
}

.banner-contain p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
    margin-bottom: 16px;
    padding-right: 80px;
}

.banner-contain a {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    padding: 10px 24px 10px 24px;
    background-color: #E02C6D;
    border-radius: 41px;
}

.banner-contain a i {
    padding-left: 8px;
}

.banner-image {
    width: 475px;
    height: 475px;
    border-radius: 50%;
    border: 3px solid #F1E4FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* _________________________Banner css End Here____________________________ */

/* _________________________shoping-site css start Here____________________________ */
.shoping-site-wrapper {
    margin-top: 70px;
    padding: 36px 0px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #F1E4FF;
}

/* _________________________shopping-site css End Here____________________________ */

/* _________________________popular-collections css start Here____________________________ */
.collection-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.collection-title {
    text-align: center;
}

.collection-title h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;
    margin-top: 100px;
    margin-bottom: 30px;
}

.collection-item {
    padding: 17px 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.collection-item h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #18191F;
    margin-top: 16px;
    margin-bottom: 12px;
}

.collection-item h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24x;
    color: #000;
    margin-bottom: 5px;
}

.collection-item h5 i {
    font-size: 8px;
    color: #FB8200;
}

.collection-item h5 span {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14x;
    color: #5E6366;
    padding-left: 5px;
}

.collection-item p {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14x;
    line-height: 20px;
    color: #787885;
    ;
}

.c-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.see-more {
    margin-left: 1013px;
    margin-top: 36px;
}

.see-more a {
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 16x;
    color: #E02C6D;

}

.see-more a i {
    font-size: 15px;
    margin-left: 5px;
}

/* _________________________popular-collections css End Here____________________________ */
/* _________________________Join-now css start Here____________________________ */
#join-now{
    margin-top: 100px;
}
.join-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 95px;
}
.j-right h2 {
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 38x;
    color: #0A0826;
}

.j-right p {
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 16x;
    color: #6C6C6C;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.j-right a {
    padding: 8px 25px;
    background-color:#E02C6D;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 16x;
    color: #fff;
}

/* _________________________join-now css End Here____________________________ */